ul.download-list {
	list-style: none;
	padding: 0;
	margin: 0 20px;

	.capsule {
		margin: 18px 0;
		overflow: hidden;
		position: relative;
		padding: 8px 8px 8px 80px;
		height: 64px;

		.thumbnail {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 3px;
			left: 8px;
			width: 64px;
			height: 64px;
			text-align: center;
		}

		.video-icon {
			opacity: 0.6;
		}

		.data-size {
			font-size: 9pt;
		}

		> h2 {
			margin: 0;
			font-size: 10pt;
			font-weight: normal;
			word-wrap: break-word;
		}

		&:hover {
			.video-icon {
				opacity: 1;
			}
		}
	}
}
