.browser {
	ul {
		list-style: none;
		padding: 0;

		> li {
			padding: 0;
		}
	}

	.nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 20px;
		color: var(--cindi-button-text);
		line-height: 2em;
		border-bottom: var(--cindi-button-background) 1px solid;

		.nav-icon {
			width: 18px;
			height: 18px;
			flex-shrink: 0;
			flex-grow: 0;
		}

		ul {
			flex: 1 1 auto;
			margin: 0;

			> li {
				display: inline-block;
				margin-left: 0.5em;

				&:not(:first-child) {
					&::before {
						content: '>';
						margin-right: 0.5em;
					}
				}
			}
		}
	}

	ul.capsule-list {
		margin: 0 20px;

		> li {
			margin: 18px 0;
		}
	}

	.capsule {
		overflow: hidden;
		height: 64px;

		> .thumbnail {
			width: 64px;
			height: 64px;
			flex: 0 0 64px;
		}

		.video-icon {
			opacity: 0.6;
		}

		.data-size {
			font-size: 9pt;
		}

		.name {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&:hover {
			.video-icon {
				opacity: 1;
			}
		}
	}
}
