.browser {
	ul {
		list-style: none;
		padding: 0;
		margin: 0 20px;

		> li {
			margin: 18px 0;
			padding: 0;
		}
	}

	.capsule {
		overflow: hidden;
		height: 64px;

		> .thumbnail {
			width: 64px;
			height: 64px;
			flex: 0 0 64px;
		}

		.video-icon {
			opacity: 0.6;
		}

		.data-size {
			font-size: 9pt;
		}

		.name {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&:hover {
			.video-icon {
				opacity: 1;
			}
		}
	}
}
