.capsule {
	background: var(--cindi-capsule-background);
	border-radius: 8px;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		display: block;
		background: linear-gradient(to right, rgba(125, 211, 252, 0), rgba(125, 211, 252, 0.7), rgba(125, 211, 252, 0));
		width: 80%;
		height: 1px;
		content: '';
	}

	&::before {
		left: 10%;
		top: 0;
	}

	&::after {
		left: 10%;
		bottom: 0;
	}
}
