header {
	.light-sphere {
		top: -50px;
		left: -50px;
		opacity: 0.3;
		transform: rotate(38deg);
	}

	h1 {
		margin: 18px 22px;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-image: linear-gradient(to right, var(--cindi-light-banner), var(--cindi-dark-banner), var(--cindi-light-banner));
	}
}
