header {
	h1 {
		margin: 18px 22px;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-image: linear-gradient(to right, var(--cindi-light-banner), var(--cindi-dark-banner), var(--cindi-light-banner));
	}
}
