nav {
	width: 320px;
	padding: 0 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 2.5em;

	h2 {
		font-size: inherit;
		color: var(--cindi-button-text);
	}

	ul {
		list-style: none;
		border-left: rgb(30, 41, 59) 1px solid;
		padding: 0 1em;
	}
}
