nav {
	display: flex;
	gap: 12px;
	margin: 16px;

	.search-box {
		position: relative;
		background: rgba(30, 41, 59, 0.75);
		border-radius: 8px;
		box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
		width: 260px;
		height: 44px;
		flex: 1 1 auto;
		line-height: 44px;
		text-align: center;
		cursor: pointer;

		&:hover,
		&:focus {
			box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgb(100, 116, 139) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
		}

		.search-icon {
			position: absolute;
			top: 11px;
			left: 11px;
			width: 22px;
			height: 22px;
		}
	}

	.hamburger-icon {
		font-size: 44px;
	}
}
