@import './palette.scss';

body {
	padding: 0;
	margin: 0;
	background: var(--cindi-body-background);
	color: var(--cindi-text);
}

body,
button,
input,
textarea {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
	background: var(--cindi-button-background);
	border: var(--cindi-button-border);
	color: var(--cindi-button-text);
	font-size: 12pt;
	padding: 0.6em 1.2em;
	border-radius: 15px;
	cursor: pointer;

	&[type="submit"],
	&.hot {
		background: var(--cindi-hot-button-background);
		border: var(--cindi-hot-button-border);
		color: var(--cindi-hot-button-text);
	}
}

.light-sphere {
	position: absolute;
	background: radial-gradient(closest-side, rgba(147, 220, 253, 0.4) 0, transparent 100%);
	width: 320px;
	height: 360px;
	z-index: -1;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-frame {
	display: flex;

	nav {
		display: none;
	}

	main {
		flex: 1 1 auto;
	}
}
