* {
	--cindi-body-background: #0f172a;
	--cindi-text: #94a3b8;

	--cindi-light-banner: #c7d2fe;
	--cindi-dark-banner: #38bdf8;

	--cindi-button-background: #1e293b;
	--cindi-button-border: #e5e7eb;
	--cindi-button-text: #ffffff;

	--cindi-hot-button-background: #7dd3fc;
	--cindi-hot-button-border: #e5e7eb;
	--cindi-hot-button-text: #0f172a;

	--cindi-capsule-background: linear-gradient(to right top, rgb(125, 211, 252, 0.1), rgba(125, 211, 252, 0.07), rgb(147, 197, 253, 0.1));
	--cindi-capsule-glow: linear-gradient(to right, rgba(125, 211, 252, 0), rgba(125, 211, 252, 0.7), rgba(125, 211, 252, 0));
}
